@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #171717;
  --text: #ffffff;
  --primary: #1e1e1e;
  --secondary: #f68338;
  --accent: #d9c5a6;
}

/* @media (prefers-color-scheme: dark) {
	:root {
	  --background: #0a0a0a;
	  --foreground: #ededed;
	}
  } */

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-gray: #666666;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--text);
  background: var(--background);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .contentMargin {
    @apply mx-3 2xl:mx-auto 2xl:w-[1300px];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flexcol-center {
    @apply flex flex-col justify-center items-center;
  }
  .custom-shadow {
    @apply shadow-[0px_0px_8px_#f68338];
  }
  .thin-border-b {
    @apply border-b-[0.1px] border-secondary;
  }
  .thin-border {
    @apply border-[0.1px] border-secondary;
  }
  .section {
    @apply py-10 border-b-[0.1px] border-secondary;
  }
}
